<style>
.table-a table{border:1px solid #F00}
	p{text-indent:2em} 
</style>

<p id="notice"><%= notice %></p>
<h1>Administer Management System</h1>
<br>
<%= link_to 'logout', {:controller => 'admins', :action => 'logout'} %>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1>Administer List</h1>
<div class="table-a">
<table>
  <thead>
    <tr>
      <th>Adminname</th>
      <th>Password</th>
      <th>Option</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.adminname %></td>
        <td><%= admin.password %></td>
        <td><%= link_to 'Destroy', {:controller => 'admins', :action => 'destroy', :id => admin.id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New Admin',  {:controller => 'admins', :action => 'new'} %>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1>Cars list</h1>
<div class="table-a">
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Price</th>
      <th>Numcars</th>
      <th>Numavails</th>
      <th>Option</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
	<% @cars.each do |car| %>
      <tr>
        <td><%= car.location %></td>
        <td><%= car.price %></td>
        <td><%= car.numcars %></td>
        <td><%= car.numavail %></td>
        <td><%= link_to 'Destroy', {:controller => 'cars', :action => 'destroy', :id => car.id} %>
          <%= link_to 'Edit', {:controller => 'cars', :action => 'edit', :id => car.id}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New car infomation', {:controller => 'cars', :action => 'new'} %>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1>Hotels list</h1>
<div class="table-a">
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Price</th>
      <th>Numcars</th>
      <th>Numavails</th>
      <th>Option</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
	<% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.location %></td>
        <td><%= hotel.price %></td>
        <td><%= hotel.numrooms %></td>
        <td><%= hotel.numavail %></td>
        <td><%= link_to 'Destroy', {:controller => 'hotels', :action => 'destroy', :id => hotel.id} %>
          <%= link_to 'Edit', {:controller => 'hotels', :action => 'edit', :id => hotel.id}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New hotel infomation', {:controller => 'hotels', :action => 'new'} %>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1>Flights list</h1>
<div class="table-a">
<table>
  <thead>
    <tr>
      <th>Flightnum</th>
      <th>Price</th>
      <th>numseats</th>
      <th>numavail</th>
      <th>Fromcity</th>
      <th>Arivcity</th>
      <th>Option</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
	<% @flights.each do |flight| %>
      <tr>
        <td><%= flight.flightnum %></td>
        <td><%= flight.price %></td>
        <td><%= flight.numseats %></td>
        <td><%= flight.numavail %></td>
        <td><%= flight.fromcity %></td>
        <td><%= flight.arivcity %></td>
        <td><%= link_to 'Destroy', {:controller => 'flights', :action => 'destroy', :id => flight.id} %>
          <%= link_to 'Edit', {:controller => 'flights', :action => 'edit', :id => flight.id}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to 'New flight infomation', {:controller => 'flights', :action => 'new'} %>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<% @reservations.each do |custid, reservation| %>
	<h1><%= User.find(custid).username %> reservation</h1>
	<br>
	<% reservation.group_by{|s| s.resvtype}.each do |type, key| %>
        
        	<% if type == 1 %>
        		<h2>flight reservation</h2>
        		<div class="table-a">
        		<table>
				  <thead>
				    <tr>
				      <th>Flightnum</th>
				      <th>Price</th>
				      <th>numseats</th>
				      <th>numavail</th>
				      <th>Fromcity</th>
				      <th>Arivcity</th>
				      <th>Option</th>
				      <th colspan="7"></th>
				    </tr>
				  </thead>
				  <tbody>
					<% key.each do |k| %>
						<% flight = Flight.find(Reservation.find(k).resvkey) %>
				      <tr>
				        <td><%= flight.flightnum %></td>
				        <td><%= flight.price %></td>
				        <td><%= flight.numseats %></td>
				        <td><%= flight.numavail %></td>
				        <td><%= flight.fromcity %></td>
				        <td><%= flight.arivcity %></td>
				        <td><%= link_to 'unbook', {:controller => 'flights', :action => 'unbook', :res_id => k, :from => 0} %></td>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				</div>
        	<% elsif type == 2 %>
        		<h2>hotel reservation</h2>
        		<div class="table-a">
        		<table>
				  <thead>
				    <tr>
				      <th>Location</th>
				      <th>Price</th>
				      <th>Numcars</th>
				      <th>Numavails</th>
				      <th>Option</th>
				      <th colspan="7"></th>
				    </tr>
				  </thead>
				  <tbody>
					<% key.each do |k| %>
						<% hotel = Hotel.find(Reservation.find(k).resvkey) %>
				      <tr>
				        <td><%= hotel.location %></td>
				        <td><%= hotel.price %></td>
				        <td><%= hotel.numrooms %></td>
				        <td><%= hotel.numavail %></td>
				        <td><%= link_to 'unbook', {:controller => 'hotels', :action => 'unbook', :res_id => k, :from => 0} %></td>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>	
				</div>
        	<% elsif type == 3 %>
        		<h2>car reservation</h2>
        		<div class="table-a">
        		<table>
				  <thead>
				    <tr>
				      <th>Location</th>
				      <th>Price</th>
				      <th>Numcars</th>
				      <th>Numavails</th>
				      <th>Option</th>
				      <th colspan="7"></th>
				    </tr>
				  </thead>
				  <tbody>
					<% key.each do |k| %>
						<% car = Car.find(Reservation.find(k).resvkey) %>
				      <tr>
				        <td><%= car.location %></td>
				        <td><%= car.price %></td>
				        <td><%= car.numcars %></td>
				        <td><%= car.numavail %></td>
				        <td><%= link_to 'unbook', {:controller => 'cars', :action => 'unbook', :res_id => k, :from => '0'} %></td>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				</div>
        	<% end %>
	<% end %>
	<br><br><br>
<% end %>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1>Users list</h1>
<% @users.each do |user| %>
  <p><%= user.username %>
  	<%= link_to 'Destroy', {:controller => 'users', :action => 'destroy', :id => user.id} %></p>
  <% end %>
