<style>
.table-a table{border:1px solid #F00}
	p{text-indent:2em} 
</style>

<p id="notice"><%= notice %></p>
<h1>User Management System</h1>
<br>
<%= link_to 'logout', {:controller => 'users', :action => 'logout'} %>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1><%= link_to 'check travel route', {:controller => 'users', :action => 'search', :user_id => @user.id} %></h1>


<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1>Cars list</h1>
<div class="table-a">
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Price</th>
      <th>Numcars</th>
      <th>Numavails</th>
      <th>Option</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
	<% @cars.each do |car| %>
      <tr>
        <td><%= car.location %></td>
        <td><%= car.price %></td>
        <td><%= car.numcars %></td>
        <td><%= car.numavail %></td>
        <td><%= link_to 'book', {:controller => 'cars', :action => 'book', :car_id => car.id, :user_id => @user.id, :from => 'manage'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1>Hotels list</h1>
<div class="table-a">
<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Price</th>
      <th>Numcars</th>
      <th>Numavails</th>
      <th>Option</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
	<% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.location %></td>
        <td><%= hotel.price %></td>
        <td><%= hotel.numrooms %></td>
        <td><%= hotel.numavail %></td>
        <td><%= link_to 'book', {:controller => 'hotels', :action => 'book', :hotel_id => hotel.id, :user_id => @user.id, :from => 'manage'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<h1>Flights list</h1>
<div class="table-a">
<table>
  <thead>
    <tr>
      <th>Flightnum</th>
      <th>Price</th>
      <th>numseats</th>
      <th>numavail</th>
      <th>Fromcity</th>
      <th>Arivcity</th>
      <th>Option</th>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
	<% @flights.each do |flight| %>
      <tr>
        <td><%= flight.flightnum %></td>
        <td><%= flight.price %></td>
        <td><%= flight.numseats %></td>
        <td><%= flight.numavail %></td>
        <td><%= flight.fromcity %></td>
        <td><%= flight.arivcity %></td>
        <td><%= link_to 'book', {:controller => 'flights', :action => 'book', :flight_id => flight.id, :user_id => @user.id, :from => 'manage'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<br>
<h1>____________________________________________________________________________</h1>
<br>

<% @reservations.group_by{|s| s.resvtype}.each do |type, key| %>
	<% if type == 1 %>
        		<h2>flight reservation</h2>
        		<div class="table-a">
        		<table>
				  <thead>
				    <tr>
				      <th>Flightnum</th>
				      <th>Price</th>
				      <th>numseats</th>
				      <th>numavail</th>
				      <th>Fromcity</th>
				      <th>Arivcity</th>
				      <th>Option</th>
				      <th colspan="7"></th>
				    </tr>
				  </thead>
				  <tbody>
					<% key.each do |k| %>
						<% flight = Flight.find(Reservation.find(k).resvkey) %>
				      <tr>
				        <td><%= flight.flightnum %></td>
				        <td><%= flight.price %></td>
				        <td><%= flight.numseats %></td>
				        <td><%= flight.numavail %></td>
				        <td><%= flight.fromcity %></td>
				        <td><%= flight.arivcity %></td>
				        <td><%= link_to 'unbook', {:controller => 'flights', :action => 'unbook', :res_id => k, :id => @user.id, :from => 1} %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				</div>
        	<% elsif type == 2 %>
        		<h2>hotel reservation</h2>
        		<div class="table-a">
        		<table>
				  <thead>
				    <tr>
				      <th>Location</th>
				      <th>Price</th>
				      <th>Numcars</th>
				      <th>Numavails</th>
				      <th>Option</th>
				      <th colspan="7"></th>
				    </tr>
				  </thead>
				  <tbody>
					<% key.each do |k| %>
						<% hotel = Hotel.find(Reservation.find(k).resvkey) %>
				      <tr>
				        <td><%= hotel.location %></td>
				        <td><%= hotel.price %></td>
				        <td><%= hotel.numrooms %></td>
				        <td><%= hotel.numavail %></td>
				        <td><%= link_to 'unbook', {:controller => 'hotels', :action => 'unbook', :res_id => k, :id => @user.id, :from => 1} %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>	
				</div>
        	<% elsif type == 3 %>
        		<h2>car reservation</h2>
        		<div class="table-a">
        		<table>
				  <thead>
				    <tr>
				      <th>Location</th>
				      <th>Price</th>
				      <th>Numcars</th>
				      <th>Numavails</th>
				      <th>Option</th>
				      <th colspan="7"></th>
				    </tr>
				  </thead>
				  <tbody>
					<% key.each do |k| %>
						<% car = Car.find(Reservation.find(k).resvkey) %>
				      <tr>
				        <td><%= car.location %></td>
				        <td><%= car.price %></td>
				        <td><%= car.numcars %></td>
				        <td><%= car.numavail %></td>
				        <td><%= link_to 'unbook', {:controller => 'cars', :action => 'unbook', :res_id => k, :id => @user.id, :from => 1} %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				</div>
        	<% end %>
<% end %>
